<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.albert.spyapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Main">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".fragments.CurrentLocationFragment">
        </activity>

        <activity
            android:name=".photo.ImageViewer">
        </activity>


        <activity android:name=".mainviews.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mainviews.SignUpScreen"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".mainviews.HomeActivity"
            android:theme="@style/Main">
        </activity>

        <activity
            android:name=".fragments.PhotosFragment"
            android:theme="@style/Main">
        </activity>

        <service
            android:name=".services.TestOnlineService"
            android:enabled="true" />
        <service
            android:name=".services.ServiceCheckCoordinates"
            android:enabled="true" />
        <service
            android:name=".services.GetLocationFromServerService"
            android:enabled="true" />
        <service
            android:name=".photo.CapturePhoto"
            android:enabled="true"
            android:exported="true">


        </service>

    </application>

</manifest>